.field--name-field-submission-file {
	.field__label
		{
			font-size: 2em;
		}
}

.field--name-field-submission-comments {
	margin-top: 2em;
	border-top: 10px solid #f3f4f9;
}

.node--type-report .node__content .node__links, .comment__meta>a, .comment .content h3 {
	display: none;
}

.breadcrumb {
	font-size: 1rem;
}

.breadcrumb__item {
	line-height: 2rem;
	border-bottom: 2px solid #003ecc;
}
